<div class="messages cleafix col-xs-12">
    <div class="col-sm-9 col-md-9 col-lg-9">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                <i class="fa fa-times red"></i>
                {{flashMessage.message}}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                <i class="fa fa-check green"></i>
                {{flashMessage.message}}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                <i class="fa fa-check green"></i>
                {{flashMessage.message}}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="fa fa-check green"></i>
                {{flashMessage.message}}
            </div>        
        {% endfor %}
    </div>
</div>